# Python/Django
.env
*.pyc
__pycache__/
venv/
*.sqlite3
/media/
staticfiles/
db.sqlite3

# React (slotflow-frontend)
slotflow-frontend/node_modules/
slotflow-frontend/dist/
slotflow-frontend/.env
slotflow-frontend/.DS_Store
slotflow-frontend/.vite

# System files
.DS_Store
Thumbs.db
